---
import { getCollection } from "astro:content";
import Link from "../components/Link.astro";
import Layout from "../layouts/Default.astro";

export const prerender = true;

const allRoles = await getCollection("cv");
const roles = allRoles.sort((a, b) => b.data.sortYear - a.data.sortYear);
---

<Layout title="CV | Sam King">
	<h2 class="sr-only">Work history</h2>

	{
		roles.map(async (role, i) => {
			const { Content } = await role.render();
			const title = role.data.company
				? `${role.data.role} at ${role.data.company}`
				: role.data.role;
			const urlDisplay = role.data.url
				? new URL(role.data.url).hostname
				: null;
			return (
				<>
					<article>
						<p class="text-muted-foreground">{role.data.period}</p>
						<h3 class="font-bold">{title}</h3>
						<div class="mt-5 space-y-5">
							<Content />
						</div>
						{role.data.url && (
							<p class="mt-5">
								<Link href={role.data.url}>{urlDisplay}</Link>
							</p>
						)}
					</article>
					{i < roles.length - 1 && (
						<hr class="h-[1px] bg-border border-none" />
					)}
				</>
			);
		})
	}
</Layout>
