---
import Link from "../../components/Link.astro";
import Layout from "../../layouts/Default.astro";
import { formatDate } from "../../utils/dates";

const previousVersion = "2024-01-24";
const lastUpdated = "2024-05-15";
---

<Layout title="/now | Sam King">
  <div>
    <h1>
      <Link href="https://nownownow.com/about">/now</Link>
    </h1>
    <p class="text-muted-foreground">
      Created <time datetime={lastUpdated}>{formatDate(new Date(lastUpdated), "words")}</time> in Vancouver
    </p>
    <p class="text-muted-foreground">
      <Link href={`/now/${previousVersion}`}>Previous version</Link>
    </p>
  </div>

  <div class="markdown">
    <article>
      <h2>Location</h2>
      <p>
        I moved to Vancouver in January 2024. My partner Annesah and I have been exploring the city
        and beyond. We've circled back to where we first landed in X̱ats'alanexw (Kitsilano), and
        we&apos;re enjoying it loads. The sun is currently out, the flowers are blooming, and
        we&apos;re close to the beach. It&apos;s actually a little like our old hometown in the UK,
        but with the mountains in the distance.
      </p>

      <h2>Practice</h2>
      <p>
        I&apos;ve been getting out and taking more photos recently. More than I care to process.
        I've been posting the ones I like the most to my profile on <Link
          href="https://refrakt.app/sk"
          withIcon={false}
        >
          Refrakt
        </Link>. I&apos;ve found it&apos;s been a great way to get to know Vancouver. I wander out
        for an hour most days with my GRIII in my pocket, no real direction, just going down new
        streets. It feels good to be shooting more than I have the last few years, and I&apos;m
        starting to see more themes in what I shoot, or at least I&apos;m paying more attention to
        them.
      </p>

      <h2>Work</h2>
      <p>
        I&apos;ve joined the team at <Link href="https://futureprimitive.xyz" withIcon={false}>
          Future Primitive
        </Link> here in Vancouver. I&apos;m working on a new product called <Link
          href="https://www.per.ma/"
          withIcon={false}
        >
          Perma</Link
        > which is going to be really fun. It&apos;s also my first legit software engineering role since
        I transitioned away from product design. It feels nice to be back in a team environment instead
        of solo.
      </p>

      <h2>Refrakt</h2>
      <p>
        For the last year, I've been working on <Link href="https://refrakt.app" withIcon={false}>
          Refrakt
        </Link>, a platform for photographers to share their work. It combines my love of
        photography, design, and engineering. I'm really enjoying learning some software engineering
        concepts in more depth. It's hard work building it all by myself, but it's very rewarding
        and I can't wait to see where it goes.
      </p>

      <h2>Hobbies and interests</h2>
      <p>
        Over the summer of 2023, I went on a pottery course back in the UK. I loved it! It was so
        nice making something with my hands instead of a keyboard and mouse. Something about being
        away from a screen was also lovely. I haven't done much research yet, but I'd love to do
        another course here in Vancouver. Eventually I'd like to make some small wares for myself,
        and new friends I make here. If you know of any calm studios for hire in Vancouver, please
        let me know!
      </p>
    </article>
  </div>
</Layout>
