---
import { getCollection } from "astro:content";
import Link from "../components/Link.astro";
import { formatDate } from "../utils/dates";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { slug } = Astro.params;
const filename = `src/content/posts/${formatDate(frontmatter.date)}-${slug}.md`;

const allPosts = await getCollection("posts");
const posts = allPosts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);

const currIndex = allPosts.findIndex((post) => post.slug === slug);
const readNext =
  currIndex === posts.length - 1 ? posts[0] : posts[currIndex + 1];
---

<Layout title={frontmatter.title}>
  <article>
    <header class="mb-3">
      <p class="text-sm text-muted-foreground tabular-nums slashed-zero">
        {formatDate(frontmatter.date)}
      </p>
      <h1 class="text-lg">{frontmatter.title}</h1>
    </header>
    <slot />
  </article>

  <hr
    class="h-[1px] bg-border max-w-[var(--left-col-width)] border-none my-4"
  />

  <nav>
    <p class="text-sm text-muted-foreground">Read next</p>
    <p>
      <Link href={`/journal/${readNext.slug}`}>{readNext.data.title}</Link>
    </p>
  </nav>

  <footer>
    <p class="text-sm text-muted-foreground">Found a mistake?</p>
    <p>
      <Link
        href={`https://github.com/samkingco/samking.co/blob/main/${filename}`}
      >
        Edit on GitHub
      </Link>
    </p>
  </footer>
</Layout>
