---
import { ViewTransitions } from "astro:transitions";
import "./styles.css";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const {
  title,
  description = "Former photographer turned designer turned software engineer, living in Vancouver, Canada. Currently building Refrakt, a new photography platform.",
  ogImage = "/og.png",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`https://samking.co${ogImage}`} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://samking.co" />
    <meta property="og:site_name" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`https://samking.co${ogImage}`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@refrakt_app" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Sam King's Journal"
      href="https://samking.co/rss.xml"
    />

    <ViewTransitions />
  </head>
  <body
    class="bg-background text-foreground leading-normal sm:[--left-col-width:8rem] [--left-col-width:4rem]"
  >
    <main class="mx-auto max-w-48 px-1 pt-6 pb-12 space-y-4">
      <header>
        <h1
          class="text-headingOne leading-tight font-heading italic text-foreground"
        >
          <a href="/">Sam King</a>
        </h1>
        <p class="text-secondary-foreground">
          Photography, Software, and Design
        </p>
        <p class="text-secondary-foreground">Vancouver, Canada</p>
      </header>

      <hr class="h-[1px] bg-border max-w-[var(--left-col-width)] border-none" />

      <slot />
    </main>
  </body>
</html>
